{% extends 'base.html' %} {%load static%} {%block title%} Doctors {%endblock%}
{%block content%}
<div class="container text-center bg-light">
  {%for d in doctors%}
  <div class="text-center card m-3" style="width: 18rem; display: inline-block">
    <img
      src="{{d.doc_image.url}}"
      class="card-img-top"
      alt="..."
      style="width: 100%; height: 15vw; object-fit: cover"
    />
    <div class="card-body">
      <h5 class="card-title">{{d.doc_name}}</h5>
      <p class="card-text">{{d.doc_spec}}</p>
      <h5>{{d.doc_dept}} Department</h5>
    </div>
  </div>
  {% endfor %}
</div>
{%endblock%}
